<h4>listado</h4>
<ul class="list-group">
  <li 
  *ngFor="
  let caracter of caracterList; 
  let i = index;
  let isfirst= first;
  let islastr=last;
  " 
  class="list-group-item d-flex justify-content-between" 
  [ngClass]="{'list-group-item-success':isfirst}"
  >
    <div>
      <span class="text-primay">{{i+1}}.</span>
      {{caracter.name}} - power: {{caracter.power}}
    </div>
    <button type="button" class="btn btn-danger" (click)="onDeleteCaracter(caracter.id)">X</button>
    
  </li>


  
</ul>
